<div class="container">
  <div class="row align-items-center">
    <div class="col-3">
      <form [formGroup]="form">
        <select onchange="document.getElementById('character').src='assets/'+this.value+'.png'" formControlName="player" class="custom-select">
          <option *ngFor="let player of players" [value]="player"> {{ player }}</option>
        </select>
        <select formControlName="grouping" class="custom-select">
          <option [value]="'dType'"> Damage Type </option>
          <option [value]="'spell'"> Spell </option>
        </select>
      </form>
    </div>
    <div class="col-9">
      <canvas
        baseChart
        [chartType]="'pie'"
        [legend]="true"
        [data]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [colors]="chartColors"

        (chartHover)="onChartHover($event)"
        (chartClick)="onChartClick($event)"
      >
      </canvas>
    </div>
  </div>
</div>
<img id="character" src="assets/CALAIS.png" width="18%" draggable="false" >
